<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Fill out the form below to create a new message:</p>

    <form action="/new" method="POST">
      <label for="text">Message Text:</label>
      <input type="text" id="text" name="text" required>

      <label for="user">User:</label>
      <input type="text" id="user" name="user" required>

      <button type="submit">Create Message</button>
    </form>
  </body>
</html>
